body,td,th 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
body 
{
	background-color: #005870;
}
.whatsthis
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #00F;
	font-style: italic;
	vertical-align: middle;
}
.required 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #F00;
	font-style: normal;
	vertical-align: middle;
	font-weight: bold;
}
.requiredlt 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #F00;
	font-style: italic;
	vertical-align: middle;
}
.requiredlt 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #F00;
	font-style: italic;
	vertical-align: middle;
}
.ttl 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	vertical-align: middle;
	font-weight: bold;
}
.ttlsmall 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	vertical-align: middle;
	font-weight: bold;
}
input:disabled 
{
    background: #FFFFFF;
}
.floatedTable
{
    float:left;
}